.categori{
  color: var(--color-font);
  width: 100%;
  max-width: 1520px;
  margin: 19rem auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet{
    padding: 0 30px;
  }
  @include mobile{
    padding: 0 15px;
  }
  .categori-title {
    @include tablet {
      text-align: center;
    }
  }
  h1{
    font-family: 'yg-jalnan';
    font-weight: normal;
    letter-spacing: -0.02rem;
    font-size: 4rem;
  }
  p{
    font-family: 'NanumSquareNeoBold';
    font-size: 2rem
  }
  .card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}