.product-inquiry {
  width: 100%;
  max-width: 1440px;
  height: 2000px;
  margin: 0 auto;
  color: #333;
  font-size: 25px;

  .description {
    font-family: 'NanumSquareNeoBold';
    margin-bottom: 10px;
    font-size: 2rem;
  }

  .inquiry-list {
    margin: 3rem 0;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .no-inquiry {
      color: #999;

    }
  }

  .write-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .write-button {
      font-family: 'NanumSquareNeoBold';
      background-color: var(--color-main);
      color: var(--color-main2);
      border: none;
      padding: 15px 30px;
      font-size: 2rem;
      border-radius: 4px;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;


      &:hover {
        background-color: var(--color-main);
      }
    }
  }
}